// fonts
//sp font = Futura Heavy Oblique 
$main-font: 'Roboto Condensed', sans-serif;

//colours
$main-colour: #333333;
$secondary-colour: #466289;
$bg-colour: #F3F3F3;
$white: #FFFFFF;

//accents tbd
$ac-blue: #89cff0;
$ac-green: #9dc183;
